<!-- Filename: main.handlebars -->
<!-- vim: set ft=html ts=2 sw=2 expandtab : -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SPA Performance Analyzer</title>
  <script src="/modules/jquery/jquery.min.js"></script>
  <script src="/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="/modules/handlebars/handlebars.min.js"></script>
  <script src="/modules/datatables.net/js/jquery.dataTables.js"></script>
  <script src="/modules/datatables.net-bs/js/dataTables.bootstrap.js"></script>
  <script src="/modules/datatables.net-buttons/js/dataTables.buttons.js"></script>
  <script src="/modules/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
  <script src="/modules/datatables.net-select/js/dataTables.select.js"></script>


  <link rel="stylesheet" href="/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/modules/c3/c3.css">
  <link rel="stylesheet" href="/modules/datatables.net-bs/css/dataTables.bootstrap.css">
  <link rel="stylesheet" href="/modules/datatables.net-select-bs/css/select.bootstrap.css">
  <link rel="stylesheet" href="/modules/datatables.net-buttons-bs/css/buttons.bootstrap.css">
  <link rel="stylesheet" href="/modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/modules/highlightjs/styles/atelier-cave.light.css">

  <link rel="stylesheet" href="/public/css/spa.css">
</head>
<body>

	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main-top" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
  	      <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
				</button>
	      <a class="navbar-brand" href="/">SPA</a>
	    </div>

  	  <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="navbar-main-top">
	      <ul class="nav navbar-nav">
          <li class="dropdown"> <!-- AWR -->
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AWR <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="/list-awr">List</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="/upload-awr">Upload</a></li>
 	          </ul>
          </li> <!-- end AWR -->
          <li class="dropdown"> <!-- Data Set -->
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data Set <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="/list-ds">List</a></li>
 	            <li role="separator" class="divider"></li>
	            <li><a href="/new-ds">New</a></li>
	          </ul>
          </li> <!-- end Data Set -->
 	        <li><a href="/show-sql">SQL </a></li>
	      </ul>
 	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/admin">Admin </a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="/help">Help</a></li>
	            <li><a href="/help#about">About</a></li>
	          </ul>
	        </li>
	      </ul>
  	  </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

  <div class="container-fluid">
  {{{body}}}
  </div>


</body>
</html>
