<!-- vim: set ft=html ts=2 sw=2 expandtab : -->
<h2>Loaded AWR files</h2>
<table id="awr-table" class="table table-striped table-hover table-condensed" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Id</th>
      <th>File name</th>
      <th>Upload date</th>
      <th>DB Name</th>
      <th>DB Id</th>
      <th>Instance</th>
      <th>Host</th>
      <th>Begin snapshot</th>
      <th>Begin time</th>
      <th>End snapshot</th>
      <th>End time</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Id</th>
      <th>File name</th>
      <th>Upload date</th>
      <th>DB Name</th>
      <th>DB Id</th>
      <th>Instance</th>
      <th>Host</th>
      <th>Begin snapshot</th>
      <th>Begin time</th>
      <th>End snapshot</th>
      <th>End time</th>
    </tr>
  </tfoot>
</table>
<script src="/modules/bootbox/bootbox.min.js"></script>
<script src="/modules/dateformat/dateformat.js"></script>
<script src="/public/js/list-awr.js"></script>

