<!-- vim: set ft=html ts=2 sw=2 expandtab : -->
<h2>Parsed AWR file <small id="awr_id">{{id}}</small> <small id="awr_name">{{fname}}</small> </h2>

<ul class="nav nav-pills" id=awrTabs role=tablist>
  <li role=presentation class=active><a href=#main id=main-tab role=tab data-toggle=tab aria-controls=main aria-expanded=true>Main</a></li>
  <li role=presentation><a href=#datasets role=tab id=awr-tab data-toggle=tab aria-controls=datasets>Data Sets</a></li>
</ul>

<div id=awrTabContent class=tab-content>

  <!-- Main tab -->
  <div role=tabpanel class="tab-pane fade in active" id=main aria-labelledby=main-tab> 
    <br/>
    <p><a href="awr-original?id={{id}}">Show original HTML</a></p>
    <div id="awr">
    {{{awr}}}
    </div>
  </div> 
  <!-- End of main tab -->

  <!-- Data sets tab -->
  <div role=tabpanel class="tab-pane fade" id=datasets aria-labelledby=datasets-tab> 
    <br/>
    <h3>Used in Data Sets:</h3>
    <div>
      <table id="awr-ds-table" class="table table-striped table-hover table-condensed" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Created on</th>
            <th>Description</th>
          </tr>
        </thead>
      </table>
    </div>
  </div> 
  <!-- End of data sets tab -->

</div>

<script src="/modules/dateformat/dateformat.js"></script>
<script src="/public/js/show-awr.js"></script>


